body {
    background-color: #f8f9fc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}


.container {
    /* max-width: 1132px; */
    margin: 35px auto;
    background: white;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #222;
}

label {
    font-weight: 500;
    display: block;
    margin-bottom: 8px;
}

textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: vertical;
    font-size: 15px;
    margin-bottom: 20px;
}

.options {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

button {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.result {
    background: #f0f4ff;
    border-left: 5px solid #007bff;
    padding: 20px;
    margin-top: 25px;
    border-radius: 8px;
}

pre {
    font-size: 15px;
    color: #444;
    white-space: pre-wrap;
    word-wrap: break-word;
}
#filePreview { display: none; }

.tokens-box {
  max-height: 120px;
  overflow-y: auto;
  font-family: monospace;
  background-color: #f9f9f9;
}


